// TUDO
* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
    a {
        text-decoration: none;
        color: inherit;
    }

    .title__montserrat {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
    }
}

// CONTAINER - COLUNAS

.container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    
    &-25 {
        width: 25%;
        // background-color: yellow;
    }
    &-33 {
        width: 31.65%;
        margin: 0 auto;
        // background-color: red;
        display: flex;
        flex-direction: row;
    }
    &-50 {
        width: 50%;
        // background-color: aqua;
    }
    &-75 {
        width: 75%;
        // background-color: aqua;
    }
    &-300 {
        width: 300%;
        display: flex;
        flex-direction: row;
    }
}

// BANNER INICIAL
.header {
    height: 100vh;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .nav {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: left;
        color: #4c0812;

        &_menu {
            list-style: none;
            display: flex;
            flex-direction: row;

            &-item {
                margin: 25px 0px;
                margin-right: 30px;

                :hover{
                    text-decoration: underline;
                }

                &__link {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                &__logo {
                    // display: flex;
                    // align-items: baseline;
                    width: 70%;
                    margin: 0 auto;
                    // background-color: yellow;
                }
            }
        }
    }
}

// SEÇÃO SOBRE
.main {
    .section {
    
        &_title {
            font-size: 2.5rem;
            padding: 35px 0;
            padding-bottom: 5px;
        }
        &_subheading {
            font-size: 2rem;
            padding-top: 20px;
        }
        &_content {
            padding: 10px 0;
            font-size: 1.8rem;
            font-family: "Bellefair", serif;
            line-height: 2.3rem;
        }
        &_image {
            // background-color: yellow;
            height: 350px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            padding: 10px;
        }
    }

    .episode {
        padding: 10px 0;
        &_details {
            &__hq {
                background-color: #fff7f4;
                padding: 20px 0;
            }
        }
    }

    .hide {
        display: none;
    }

    .nav-secondary {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;

        &_menu {
            list-style: none;
            display: flex;
            flex-direction: row;

            &-item {
                margin: 35px 0;
                margin-right: 25px;
                :hover{
                    text-decoration: underline;
                }

                &__link {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                &__logo {
                    // display: flex;
                    // align-items: baseline;
                    width: 70%;
                    margin: 0 auto;
                    // background-color: yellow;
                }
            }
        }
    }

    .author {
        background-color: #fff7f4;
        padding: 20px 0;
    }

    .hq, .author, .colaborate {
        &_subtitle {
            display: flex;
            align-items: flex-end;
            height: 100%;
            // background-color: gray;

            &__title {
                text-align: right;
                font-size: 1.8rem;
            }
            &__content {
                text-align: right;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
}

// FOOTER

.footer {
    background-color: #240409;
    color: #ffa987;
    text-align: center;
    &_content {
        opacity: 0.4;
        &__link {
            font-size: 1.5rem;
            text-decoration: underline;
        }
    }
    &_content__social-media {
        text-align: right;
    }
    &_content, &_content__social-media {
        padding: 15px 0;
        font-size: 1.5rem;
        font-family: "Bellefair", serif;
        line-height: 1.8rem;

        &__social-media-icon {
            border-radius: 100%;
            width: 30px;
            align-items: flex-end;
        }
        .icon_instagram, .icon_twitter, .icon_facebook, .icon_soundcloud {
            opacity: 0.4;;
        }
    }
    
    &_copyright {
        background-color: #19080b;
        text-align: center;
        color: rgba($color: #ed6142, $alpha: 0.75);
    }
}